/backend/.env*
!/backend/.env.sample
!/backend/.env.test.example
/backend/node_modules/
/node_modules/
/backend/dist/
/backend/coverage/
/backend/.tmp/
/backend/src/**/*.js
/backend/*.tsbuildinfo
/.tools/
.idea/
.vscode/
